.Rproj.user

Test/
.nextflow/
work/
singularity/

data/gbm_10x
data/prostate
data/ovarian
data/Genome/
third/


*.simg
*.out
*.log
*.log.*
*.svg
*.pdf
*.png
*.fastq
*.fa
*.tsv
*.mtx
*.RDS
*.tar
*.gz
*.html
