params {
    genome = "GRCh38"
    fasta = false
    annotation = false
    thr_estimate_n_cells = 300
    thr_mean_reads_per_cells = 25000
    thr_median_genes_per_cell = 900
    thr_median_umi_per_cell = 1000
    thr_nFeature_RNA_min = 300
    thr_nFeature_RNA_max = 7500
    thr_percent_mito = 25
    thr_n_observed_cells = 300
    skip_batch = false
}

report {
    enabled = true
}

dag {
    enabled = false
    file = 'pipeline_dag.html'
    overwrite = true
}

manifest {
    name            = 'btc-pipeline/btc-sc-basic'
    author          = 'Fonseca AF'
    homePage        = 'https://github.com/WangLab-ComputationalBiology/btc-sc-basic'
    description     = 'Pipeline for processing 10x Genomics single-cell RNASeq data'
    mainScript      = 'single_cell_basic.nf'
}

profiles {

    test {
        params {
            project_name = "Test"
            sample_csv = "$projectDir/data/test_sample_table.csv"
            meta_data = "$projectDir/data/test_meta_data.csv"
            thr_estimate_n_cells = 100
            thr_mean_reads_per_cells = 5000
            thr_median_genes_per_cell = 900
            thr_median_umi_per_cell = 1000
            thr_nFeature_RNA_min = 300
            thr_nFeature_RNA_max = 7500
            thr_percent_mito = 25
            thr_n_observed_cells = 10
            skip_batch = true
        }
    }

    workstation {

        module = 'singularity/3.7.0'

        singularity {
            enabled = true
            autoMounts = true
        }

        process {
            executor = 'local'
            cpus = 20
            memory = '48 GB'
        }

        params {
            cpus = 20
            memory = 48
        }

    }

    laptop {

        docker {
            enabled = true
        }

        process {
            executor = 'local'
            cpus = 6
            memory = '4 GB'
        }

        params {
            cpus = 6
            memory = 4
        }
        
    }

    seadragon {

        module = 'singularity/3.7.0'

        singularity {
            enabled = true
            autoMounts = true
        }

        process {
            time = '24h'
            executor = 'lsf'
            cpu = 24
            queue = 'medium'
            memory = '128 GB'
        }

        params {
            cpus = 24
            memory = 128
        }


    }

    slurm {

        module = 'singularity/3.7.0'

        singularity {
            enabled = true
        }

        process {
            executor = 'slurm'
            cpu = 24
            queue = 'medium'
            memory = '64 GB'
        }

        params {
            cpus = 24
            memory = 64
        }

    }

}